root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

# trailing spaces in markdown indicate word wrap
[*.md]
trim_trailing_whitespace = false


# Set spaces indent
[*.{json,yml,pug,html}]
indent_size = 2
indent_style = space
